/* exercise_1 */
.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: background 3s;
}
.ex-1-square:hover{
  background: red;
}
/* /exercise_1 */
/* exercise_2 */
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: ease-out 3s;
}
.ex-2-square:active{
  width: 100%;
  background: yellow;
  border-radius: 30px;
}
/* /exercise_2 */
/* exercise_3 */
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: 1.5s;
    position: relative;
}
.special_square{
  width: 50px;
  height: 50px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  background-color: yellow;
  display: none;
  transition: linear 1.5s;
}
.ex-3-square:hover{
  border-radius: 50%;
}
.ex-3-square:hover .special_square{
  display: block;
}
.special_square:hover{
  border-radius: 50%;
}
/* /exercise_3 */
/* exercise_4 */
.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: background 1s linear;
}
.ex-4-square:hover{
  background: transparent;
}
/* /exercise_4 */
/* exercise_5 */
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: 2s ease-out;
}
.ex-5-square:hover{
  transform: scale(2);
}
.ex-5-square:active{
  transform: scale(0.5);
}
/* exercise_5 */
/* exercise_6 */
.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
    transition: 2s;
}
.ex-6-img:hover{
  filter: grayscale(1);
}
/* /exercise_6 */
/* exercise_7 */
.ex-7-img:hover{
  filter:sepia(5);
}
/* /exercise_7 */
/* exercise_8 */
.ex-8-img:hover{
  filter: brightness(1.5);
  border-radius: 40px;
}
/* /exercise_8 */
/* exercise_9 */
.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    transition: all 3s;
}
.ex-9-img:hover{
  border-radius: 40px;
  transform: scale(1.5);
  filter: invert(2);
}
/* /exercise_9 */
/* exercise_10 */
.ex-10-icon {
    font-size: 60px;
    animation:spin 2s linear infinite;
}
@keyframes spin {
  0% {
      transform: rotate(2turn);
  }
}
/* /exercise_10 */
/* exercise_11 */
.ex-11-icon {
    font-size: 60px;
}
.ex-11-icon:hover{
  animation:spin2 2s linear infinite;
}
@keyframes spin2 {
  0% {
    transform: rotate(0);
  }
  90% {
      transform: rotate(320deg);
  }
  100% {
      transform: rotate(0);
  }
}
/* /exercise_11 */
/* exercise_12 */
.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-button:hover .ex-12-top-white{
  animation:topmoving 2s linear;
}
@keyframes topmoving{
  0% {
      left: 10%;
  }
  50% {
      left: calc(100% - 60px);
  }
  100% {
      left: 10%;
  }
}
.ex-12-button:hover .ex-12-bottom-white{
  animation:bottomoving 2s linear;
}
@keyframes bottomoving{
  0% {
      right: 10%;
  }
  50% {
      right: calc(100% - 60px);
  }
  100% {
      right: 10%;
  }
}
/* /exercise_12 */
